#fern-footer, #fern-header {
  display: none;
}

#fern-header-content-wrapper {
  display: block; /* Make the elements visible by default */
  
  @media (min-width: 1024px) {
    display: none; /* Hide the elements on screens larger than 1024px */
  }
}

/* Make sidenav components visible on all screen sizes */
#sidenav-header-wrapper {
  display: block !important;
}

#devrev-header-content-wrapper {
  display: none; /* Hide the wrapper by default */
  
  @media (min-width: 1024px) {
    display: block; /* Show the wrapper on screens larger than 1024px */
  }
}

/* Constrain sidebar within fern-body but account for header
.fern-sidebar-fixed {
  position: absolute !important;
} */

#fern-docs {
  margin: 64px 0px !important; /* Push content below header */
}

#fern-toc {
  margin: 64px  0px!important; /* Push TOC below header */
}

#fern-sidebar {
  margin: 32px 0px !important; /* Push TOC and sidebar below header */
}

