#fern-footer, #fern-header {
  display: none;
}

#fern-header-content-wrapper {
  display: block; /* Make the elements visible by default */
  
  @media (min-width: 1024px) {
    display: none; /* Hide the elements on screens larger than 1024px */
  }
}

#devrev-header-content-wrapper {
  display: none; /* Hide the wrapper by default */
  
  @media (min-width: 1024px) {
    display: block; /* Show the wrapper on screens larger than 1024px */
  }
}

#fern-docs {
  margin: 64px 0px !important; /* Push content below header */
}

#fern-toc {
  padding: 42px 0px !important;
}

#fern-sidebar {
  padding: 42px 0px !important;
  max-height: 900px !important;
  position: sticky !important;
}


